
//@each $color, $value in $colors {
//  .fc-#{$color}{
//    color: #{$value};
//  }
//  .bg-#{$color}{
//    background-color: #{$value};
//  }
//}

/* font color */

.fc-primary{color:$colorPrimary $imt;}
.fc-blue{color:$colorBlue $imt;}
.fc-light-sky{color:$colorLightSky $imt;}
.fc-tealish{color:$colorTealish $imt;}
.fc-aqua{color:$colorAqua $imt;}
.fc-yellow-orange{color:$colorYellowOrange $imt;}
.fc-yellow-orange-2{color:$colorYellowOrange2 $imt;}
.fc-bright-yellow{color:$colorBrightYellow $imt;}
.fc-dark-grey{color:$colorDarkGrey $imt;}
.fc-metal-grey{color:$colorMetalGrey $imt;}
.fc-medium-grey{color:$colorMediumGrey $imt;}
.fc-grey{color:$colorGrey $imt;}
.fc-grey-2{color:$colorGrey2 $imt;}
.fc-light-grey{color:$colorLightGrey $imt;}
.fc-very-light-grey{color:$colorVeryLightGrey $imt;}
.fc-white{color:$colorWhite $imt;}
.fc-black{color:$colorBlack $imt;}
.fc-green{color:$colorGreen $imt;}
.fc-mid-purple{color:$colorMidPurple $imt;}
.fc-red{color:$colorRed $imt;}

/* background-color */
.bg-primary{background-color:$colorPrimary $imt;}
.bg-blue{background-color:$colorBlue $imt;}
.bg-light-sky{background-color:$colorLightSky $imt;}
.bg-tealish{background-color:$colorTealish $imt;}
.bg-aqua{background-color:$colorAqua $imt;}
.bg-yellow-orange{background-color:$colorYellowOrange $imt;}
.bg-yellow-orange-2{background-color:$colorYellowOrange2 $imt;}
.bg-bright-yellow{background-color:$colorBrightYellow $imt;}
.bg-dark-grey{background-color:$colorDarkGrey $imt;}
.bg-metal-grey{background-color:$colorMetalGrey $imt;}
.bg-medium-grey{background-color:$colorMediumGrey $imt;}
.bg-grey{background-color:$colorGrey $imt;}
.bg-grey-2{background-color:$colorGrey2 $imt;}
.bg-light-grey{background-color:$colorLightGrey $imt;}
.bg-very-light-grey{background-color:$colorVeryLightGrey $imt;}
.bg-white{background-color:$colorWhite $imt;}
.bg-black{background-color:$colorBlack $imt;}
.bg-green{background-color:$colorGreen $imt;}
.bg-mid-purple{background-color:$colorMidPurple $imt;}
.bg-red{background-color:$colorRed $imt;}
