.home {

}

.scroll-wrap {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  .scroll-item {
    position: relative;
    display: inline-block;
    .scroll-item {
      box-shadow:  0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
