/* 컴포넌트에 적용되는 ui들 */


//swiper slide banner
.flex-list-scrollX-wrap {
  overflow-x: scroll;
  padding-left: 4vw;
  padding-top: 20px;
  .flex-list-scrollX-con {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .flex-list-scrollX-item {
      display: inline-flex;
      position: relative;
      white-space: nowrap;
      .gift-list-item {
        .list-item {
          white-space: normal;
          font-size: initial;
        }
      }
      &.gift-main {
        margin-bottom: 15px;
        &:nth-of-type(n+6) {
          margin-bottom: 0;
        }
      }
    }
    &.one-line {
      flex-wrap: nowrap;
      min-width: 100% !important;
      max-width: calc(144vw + 60px) !important;
      .flex-list-scrollX-item {
        &:last-child {
          padding-right: 4vw;
        }
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.target-category {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.flex-list-scrollX-wrap {
  position:relative;
  width:100%;
  white-space: nowrap;
  overflow-x:hidden;
  font-size: 0;
}
.slide-list-item {position:relative; display: inline-block; margin-right: 10px; }


// checkbox
input[type=checkbox] {
  &.chkBtn {
    border-radius: 50%;
    border: 2px solid $colorGrey2;
    &:checked {
      background-color: $colorYellowOrange !important;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3e%3c/path%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 54%;
      border: none;
    }
    &:disabled {
      background: $colorLightGrey !important;
      border: none;
      &:before {
        display: none;
      }
    }
  }
  &.smallchkBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $colorGrey2;
    &:checked {
      background-color: $colorPrimary !important;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3e%3c/path%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 54%;
      border: none;
    }
    &:disabled {
      background: $colorLightGrey !important;
      &:before {
        display: none;
      }
    }
  }
}

// tag
.tag-wrap {
  display: flex;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin: 16px 0 8px;
  &::-webkit-scrollbar {display: none;}
}
