@charset "utf-8";

// important
$imt : unquote('!important');

// item length
$itemLength : 200;

/********** color variable **********/
$color-ss-gradient:linear-gradient(to right, #34d0ff, #62f2c6) !default;
$color-ss-gradient-bottom:linear-gradient(to bottom, #34d0ff, #62f2c6) !default;


/********** color variable **********/
// Primary
$colorPrimary: #FBC02D !default;
$colorBlue: #3f51b5 !default;


// Secondary
$colorTealish: #80CBC4 !default;
$colorAqua: #40C3C4 !default;
$colorYellowOrange: #FFB300 !default;
$colorYellowOrange2: #FFD500 !default;
$colorBrightYellow: #FFEB3B !default;
$colorGreen: #26c68a !default;
$colorMidPurple: #5E35B1 !default;
$colorRed: #E53935 !default;

// Basic
$colorDarkGrey: #343434 !default;
$colorMetalGrey: #535A63 !default;
$colorMediumGrey: #7F7F7F !default;
$colorGrey: #ABABAB !default;
$colorGrey2: #CCCCCC !default;
$colorLightGrey: #E9EAEB !default;
$colorVeryLightGrey: #F8F8F8 !default;
$colorWhite: #FFFFFF !default;
$colorBlack: #1a1a1a !default;
$colorLightSky: #F1FBFC !default;

$colors: () !default;
$colors: map-merge(
  (
    "primary":       $colorPrimary,
    "blue":       $colorBlue,
    "tealish":       $colorTealish,
    "aqua":        $colorAqua,
    "light-sky":        $colorLightSky,
    "yellow-orange":     $colorYellowOrange,
    "yellow-orange-2":     $colorYellowOrange2,
    "bright-yellow":      $colorBrightYellow,
    "dark-grey":       $colorDarkGrey,
    "metal-grey":       $colorMetalGrey,
    "medium-grey":      $colorMediumGrey,
    "grey":       $colorGrey,
    "grey-2":  $colorGrey2,
    "light-grey":  $colorLightGrey,
    "very-light-grey":  $colorVeryLightGrey,
    "white":  $colorWhite,
    "black":  $colorBlack,
    "green": $colorGreen,
    "mid-purple": $colorMidPurple,
    "red": $colorRed
  ),
  $colors
);
